@import "u.less";
/*
这个是主要的css。
 */
/*loading画面=======================================================*/
#preloader{
	.u-bg-c(#fff);
	bottom:0;
	left:0;
	.u-pos--f;
	right:0;
	top:0;
	z-index: 9999;
}
#status{
	background-image: url(../img/488.gif);
	background-position: center;
	background-repeat: no-repeat;
	height:200px;
	left:50%;
	margin:-100px 0 0 -170px;
	.u-pos--a;
	top:50%;
	.u-wh(340px);
}
.status-mes {
  background: none;
  left: 0;
  margin: 0;
  text-align: center;
  top: 70%;
  .u-ht(200px);
  .u-wh(340px);
  .u-pos--a;
  h4 {
	  color: #222;
	  .u-mt(30px);
	}
}
/*------------------------------------------------------------/*
 * Navigation
 /*------------------------------------------------------------*/
.navbar {
	background: none;
	border-radius: 0;
	border: 0;
	padding: 20px 0;
	text-transform: uppercase;
	color: #FFF !important;
}
.c-navbar-main .nav li a:hover, 
.c-navbar-main .nav li a:focus, 
.c-navbar-main .nav li.active {
	background: none;
	outline: 0;
	color: #EF4836;
}

.c-navbar-main .navbar-brand {
	font: 700 18px/1.2 'Montserrat', serif, sans-serif;
	color: #FFF;
}

.c-navbar-main .navbar-nav > li.active {
	border-bottom: 3px solid #FFF;
}

.c-navbar-main .navbar-toggle .icon-bar {
	background: #FFF;
}

.c-navbar-main .navbar-nav > li > a,
.c-navbar-main .navbar-nav .dropdown-menu > li > a {
	color: #FFF;
	font-size: 12px;
}
/*------------------------------------------------------------------------------/*
 * .c-banner-group
/*------------------------------------------------------------------------------*/
.c-banner-group{
	.u-pos--r;
	z-index: 0;
	background: none;
	.u-p-trbl(260px;0;160px;0);
	.u-ta--c;
	color:#fff;
}